/*font-family: font-family: 'DM Sans', sans-serif;*/
header{
    background-color: #F9FFF2 ;
    background-image:url("/assets/images/MaskGroup.png");
    height: 430px;
    background-position: center;
   /* border: 2px solid red;*/
    display: flex;
}
.flex-direction-colum{
    flex-direction: column;
}
.justify-content-space-arround{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
img{
    width: 173px;
    height: 38px;
}
nav{
   /*border: 2px solid purple; */
    display: flex;
    width: 80%;
}

.justify-content-space-between{
    justify-content: space-between;
}
a{
    font-family:'DM Sans', sans-serif;
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
   
}
.button-blue{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background-color: #410FF8;
    color: white;
}

/*

div{
    /*border: 2px solid blue;
}
*/
h1{
   /* border: 2px solid green;*/
    text-align: center;
}
p{
    color:black;
    text-align: center;
}
strong{
    color:green;
}
/**/
main{
    /*border:2px solid red;*/
    display: flex;
    height: 600px;
}
.justifiy-content-center
{
    justify-content: center;
}
section{
    /*border: 2px solid blue;*/
    display: flex;
    width: 90%;
   /* height: 95%;*/
}
.justify-content-space-evenly
{
    justify-content: space-evenly;
}
article{
    /*border: 2px solid orange;*/
    width: 365px;
    height: 535px;
    border-radius: 5px;
}
.button-blue-article{
    border-radius: 5px;
    width: 295px;
    height: 48px;
    background-color: #410FF8;
    color: white;
}
.button-white-article{
    border-radius: 5px;
    width: 295px;
    height: 48px;
    background-color:white;
    color:#410FF8 ; 
}
.img-icon
{
    width: 13px;
    height: 13px;
}
.op2
{
    background-color: #410FF8;
}